:root {
  color-scheme: dark;
  --gold: #d29a38;
  --gray: rgb(187, 187, 187);
  --blue: rgb(105, 166, 213);
  --dark-gray: rgb(24, 26, 27);
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--dark-gray);
  margin: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
#header {
  position: relative;
  margin: 1% 1% 1% 1%;
  border-bottom: 2px solid var(--gold);
  flex: none;
}
#filter {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 0.75rem;
  user-select: none;
}
.label {
  font-size: 0.75rem;
  color: var(--gold);
  font-family: times, serif;
  font-variant: small-caps;
  font-weight: 500;
  text-align: right;
  margin: 0;
}
.group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
#content {
  margin: 1% 1% 1% 2%;
  display: flex;
  min-height: 0;
}
#spell-select {
  flex: none;
}
#spell-info {
  display: inline-block;
  flex: 1;
  margin-left: 1%;
  height: 100%;
}
#name-filter {
  width: 100%;
}
.infoHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.infoData {
  color: var(--gray);
}
#spell-info-name {
  color: var(--gold);
  font-size: 1.8em;
  font-family: times, serif;
  font-variant: small-caps;
  font-weight: 500;
  margin-right: 10px;
}
#spell-info-source {
  color: var(--blue);
  font-size: 1.8em;
  font-family: times, serif;
  font-variant: small-caps;
  font-weight: 500;
}
.styledButton {
  background: inherit;
  /* background-color: var(--dark-gray); */
  box-shadow: none;
  border: none;
  color: white;
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 0.5rem;
  border-radius: 3px;
}
.styledButton:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
